@font-face{
   src:url(../fonts/google-font/Poppins-Bold.ttf);
   font-family: Poppins-Bold;
}
@font-face{
   src:url(../fonts/google-font/Roboto-Medium.ttf);
   font-family: Roboto-Medium;
}
@font-face{
   src:url(../fonts/google-font/BebasNeue-Regular.ttf);
   font-family: BebasNeue-Regular;
}
@font-face{
   src:url(../fonts/google-font/Cookie-Regular.ttf);
   font-family: Cookie-Regular;
}

body{
   background-color: rgba(220, 220, 220, 0.525);
}

*{
   margin: 0px;
   padding: 0px;
}
a{
   text-decoration: none;
}
.container{
   width: 90%;
   margin: 0px auto;
}
h2,
h3{
   font-family: Poppins-Bold;
   color: rgb(8, 17, 64);
}
p{
   font-family:  Arial, Helvetica, sans-serif;
}

/* ------------------ START HEADER PART ----------------- */
header{
   background-image: linear-gradient(180deg, rgba(103, 171, 226, 0.463) 0%, rgba(6, 6, 6, 0.655) 50%), url(../images/banner/10.jpg);

   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   
   width: 100%;
   height: 600px;
   position: relative;
   box-shadow: rgba(0, 0, 0, 0.205) 0px 10px 50px;
}
.content{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;


}
.content h1{
   color: white;
   font-family: Poppins-Bold;
   font-weight: 700;
   font-size: 40px;
   width: 97%;
   display: inline-block;
}

.content p{
   color: rgb(190, 187, 187);
   font-weight: 300;
   width: 80%;
   display: inline-block;
   font-family:  Roboto-Medium;
   margin-top: 30px;
   margin-bottom: 30px;
}

button{
   display: block;
   padding: 10px 30px;
   margin: 0px auto;
   background-color: #FF5959;
   border: 1px solid #FF5959;
   color: white;
   font-size: 20px;
   border-radius: 8px;
   cursor: pointer;
   transition: 0.4s;
}
button:hover{
   background-color: #d44b4bf3;
   
}
/* ------------------ END HEADER PART ----------------- */

/* ------------------ START DONATION AMOUNT PART ----------------- */

#donate_today{
   margin: 80px 0px;
}
.today{
   width: 50%;
   margin: 0px auto;
}
.today h2{
   font-family: Poppins-Bold;
   text-align: center;
   font-size: 30px;
}
.today hr{
   width: 20%;
   height: 1px;
   margin: 16px auto;
   background-color: rgb(11, 11, 80);
}
.today p{
   color: rgba(69, 67, 67, 0.866);
   font-family:  Roboto-Medium;
   text-align: center;
   font-size: 15px;
   width: 80%;
   line-height: 30px;
   margin: 25px auto;
}
/* ................ */
.donation{
   width: 60%;
   margin: 0px auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   
}
.donation .amount{
   width: 17%;
   text-align: center;
   padding: 22px 1px;
   background-color: rgba(155, 236, 209, 0.074);
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   transition: .4s;
   cursor: pointer;
   border: 2px solid rgba(128, 128, 128, 0.19);
}
.donation .donat-amount2{
   background-color: #ef868632;
   border: 2px solid #FF5959;
}
.donation .amount:hover{
   background-color: #ef868632;
   border: 2px solid #FF5959;
   
}

.donation .amount h3{
   font-family: Poppins-Bold;
   font-size: 22px;
   color: rgb(69, 68, 68);
   transition: .4s;
}
.donation .amount:hover h3{
   color: #FF5959;
}

.donation-field{
   text-align: center;
   margin: 25px 0px;
}

.donation-field input{
    padding: 12px;
    font-size: 14px;
    text-align: center;
    margin: 20px 0px;
    border: none;
    background-color: rgba(220, 220, 220, 0.144);
    width: 60%;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(102, 99, 99, 0.255);
}

/* ------------------ END DONATION AMOUNT PART ----------------- */

/* -- --------------- START DONATION PLAN PART -----------------*/
#donat-plan{
   margin-bottom: 80px;
}
.donation-plan{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

}
.donat-box{
   width: 30.33%;
   height: 200px;
   
   padding: 40px 16px;
   border-radius: 10px;
   box-shadow: rgb(0 0 0 / 15%) 0px 9px 4px, rgb(0 0 0 / 5%) 0px 5px 41px;
}

.donat-box h3{
   margin: 20px 0px;
}
.donat-box p{
   text-align: left;
   line-height: 25px;
   color: rgb(62, 57, 57);
}
.donat-box img{
   width: 50px;
   height: 50px;
}
.food{
   background-color: #c8eaefc0;
   
}
.blood{
   background-color: #f3d1d1;
}
.shelter{
   background-color: rgba(162, 243, 162, 0.693);
}

/* -- --------------- END DONATION PLAN PART -----------------*/
/* -- --------------- START DISASTER RECOVERY PART ----------- */
#recovery{
   margin-bottom: 80px;
   
}
.disaster-recovery{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.disater{
   width: 40%;
}
.disater h2{
   text-align: center;
   font-size: 30px;
}
.disater hr{
   width: 20%;
   height: 1px;
   margin: 16px auto;
   background-color: rgb(11, 11, 80);
}
.disater p{
   color: rgb(52, 46, 46);
   width: 80%;
   text-align: center;
   margin:40px auto;
   line-height: 30px;
} 
.disater-map{
   width: 60%;
}
.disater-map img{
   background-size: cover;
   width: 100%;
}


/* -- --------------- END DISASTER RECOVERY PART ----------- */

/* -- --------------- START DONATION MESSAGES PART ----------- */
#messages{
   margin-bottom: 80px;
}
.disaster-message{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.message-vedio{
   width: 50%;
}
.message-box{
   width: 50%;
}
.message-box h2{
   text-align: center;
   font-size: 30px;
   
}
.message-box hr{
   width: 20%;
   height: 1px;
   margin: 16px auto;
   background-color: rgb(11, 11, 80);
}
.message-box p{
   color: rgb(52, 46, 46);
   width: 80%;
   text-align: center;
   margin:30px auto;
   line-height: 30px;
} 

/* -- --------------- END DONATION MESSAGES PARTS ----------- */

/* ------------------ START UPDATE PLAN PART ----------------- --> */
#update{
   margin-bottom: 80px;
}
.update-mail-box{
   background-color: #f3d5b0b9;
   width: 50%;
   margin: 0px auto;
   padding: 50px 40px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   border-radius: 10px;
   
}
.content-update{
   display: inline-block;
}
.update-mail-box input{
   padding: 9px 10px;
   width: 300px;
   border-radius: 5px 0px 0px 5px;
   border: none;
   background-color: aliceblue;
   
   float: left;
}
.update-mail-box::after{
   content: '';
   display: block;
   clear: both;
}
.subscribe{
   padding: 7px 25px;
   background-color: #FF5959;
   border: 1px solid #FF5959;
   color: white;
   font-size: 20px;
   border-radius: 0px 5px 5px 0px;

   float: left;
}


/* ------------------ END UPDATE PLAN PART ----------------- --> */













/* ------------------ START FOOTER PART ----------------- */
footer{
   width: 100%;
   padding: 40px 0px;
   background-color: rgb(0, 1, 5);
}
.mid-container{
   width: 500px;
   display: block;
   margin: 0px auto;
}
.mid-container h3{
   font-family: Cookie-Regular;
   color: #FF5959;
   font-size: 40px;
   text-align: center;

}
.mid-container h3 span{
   color: darkorange;
   
}
.mid-container p{
   color: white;
   font-size: 13px;
   word-spacing: 2px;
   letter-spacing: 2px;
   text-align: center;
}

/* ------------------ END FOOTER PART ----------------- */
